<?php
# php-cs-fixer fix . --allow-risky=yes -vvv

$finder = PhpCsFixer\Finder::create()
    ->exclude('vendor')
    ->in(__DIR__);

return PhpCsFixer\Config::create()
    ->setUsingCache(false)      //Remove for performance improvements
    ->setRiskyAllowed(true)
    ->setRules([
        '@PSR2' => true,
        'psr4' => true,
        '@PHP71Migration' => true,
        'array_syntax' => ['syntax' => 'short'],
        'no_short_echo_tag' => true,
        'no_unused_imports' => true,
        'ordered_imports' => true,
        'single_quote' => true,
        'short_scalar_cast' => true,
        'no_short_bool_cast' => true,
        'whitespace_after_comma_in_array' => true,
        'lowercase_cast' => true,
        'new_with_braces' => true,
        'no_blank_lines_after_phpdoc' => true,
        'no_empty_statement' => true,
        'no_short_bool_cast' => true,
        'no_trailing_comma_in_singleline_array' => true,
        'object_operator_without_whitespace' => true,
        'phpdoc_add_missing_param_annotation' => []
    ])
    ->setFinder($finder);